<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/moviesrental?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">19Sprzaczka88</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">7</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hbm2ddl.auto"></property>
        <!-- Names the annotated entity class -->
        <mapping class="Movie"/>
        <mapping class="model.Rent"/>
        <mapping class="model.MovieCopy"/>
        <mapping class="model.MovieInfo"/>
        <mapping class="model.Customer"/>

    </session-factory>
</hibernate-configuration>